/* Oxygen Regular (400) */
@font-face {
  font-display: swap;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/oxygen-regular.woff2') format('woff2');
}

/* Oxygen Bold (700) */
@font-face {
  font-display: swap;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/oxygen-700.woff2') format('woff2');
}
